*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: #5DE66B;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.body-details{
    display: flex;
    justify-content: center;
    align-content: center;
}
.parent{
    display: flex;
    justify-content: center;
    align-content:center ;
}


.heading h1{
    color: white;
   
    
}

.lists {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    
  }
  
.lists  li {
     
      box-sizing: border-box;
    
  }
  
 .lists li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }
  
  
.lists  li:hover {
    
   border-top: 6px solid white;
   border-right: 6px solid white;
   border-bottom: 6px solid white;
  }

  .banner{
      display: flex;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row;
  }
  .banner img{
      width: 300px;
      height: 210px;
      border-radius: 60px;
      padding: 35px;
      
  }
  .banner img:hover{
      cursor: pointer;
      transform: scale(1.1);
  }

  @media screen and (max-width : 768px) and (min-width : 310px) {
    .lists li {
       
        display: flex;
       
        
    }    
    .lists li a{
        font-size: 14px;
        padding: 10px 14px;
        
    }
    .banner img {
        width: 300px;
        height: 210px;
        border-radius: 60px;
        padding: 9px;
    }
  }
