@keyframes slide-left{
    0%{
      transform: translate3d(-1270px, 0, 0);
    }
    100%{
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes slide-right{
    0%{
      transform: translate3d(1270px, 0, 0);
    }
    100%{
      transform: translate3d(0, 0, 0);
    }
  }
.work-container{

    background-color: yellow;
    cursor: pointer; 
    overflow: hidden;  
    padding-bottom: 2%;
}
.works-heading{
    margin-top: 1%;
    margin-bottom: 4%;
}

.slide-left{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    transform: translate3d(-1270px,0,0);
    column-gap: 10px;
    row-gap: 10px;
}
.slide-left img{
width: 350px;
height: 200px;
}
.slide-right{
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    transform: translate3d(1270px,0,0);

}
.slide-right img{
width: 350px;
height: 200px;
}

.work-container:hover .slide-left{
    animation: slide-left 1s ease;
    animation-fill-mode: forwards;
}
.work-container:hover .slide-right{
    animation: slide-right 1s ease;
    animation-fill-mode: forwards;
}
.h100px{
  display: none;
}
.spl{
  display: none;
}
@media screen and (max-width : 768px) and (min-width : 310px){
  .work-container .slide-left{
    animation: slide-left 1s ease forwards;
  }
  .work-container .slide-right{
    animation: slide-right 1s ease forwards;
    
}
.spl{
  display: block;
}
.h100px{
  display: block;
}
.slide-left{
  column-gap: 4px;
  
  grid-template-columns: auto auto;
}
.slide-right{
  column-gap: 4px;
 
  grid-template-columns: auto auto;
}
.slide-left img{
  width: 160px;
  height: 160px;
  border-radius: 20px;
}
  .slide-right img{
    width: 160px;
    height: 160px;
    border-radius: 20px;
    }
    .works-heading h1{
      font-size: 25px;
    }
}